* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(green, white);
    background-attachment: fixed;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:azure
}

.score {
    background: #333;
    
}
h1 {
    font-size:x-large
}
.circles {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    pointer-events: none;
    /* no click trigger. everything is disabled */
}/* make circles with border-radius 50%
display flex forward gets the numbers centered */
.circle.active {
    background-image:url(highlight.jpg);

}

/* .clicked {
    background-image:url(emptyCircle.jpg);
} */

.end {
    display: none;
}

/* .scoreboard {
    display:flex;
    justify-content: center;
    align-items: center;
    background: greenyellow;
    align-items: center;
    height:10rem;
} */




